@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: linear-gradient(to top, #000000, #291513, #472613, #583f09, #565e02, #53750f, #458e27, #13a745, #14bc51, #12d25e, #0de86b, #00ff79);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
